project/src/rover/rover_sdf.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="sdf">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="model">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="static"/>
              <xs:element name="link" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:choice maxOccurs="unbounded" minOccurs="0">
                    <xs:element type="xs:string" name="pose"/>
                    <xs:element name="collision">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="geometry">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="box" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="size"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="cylinder" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:float" name="radius"/>
                                      <xs:element type="xs:float" name="length"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="name" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="visual">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="pose" minOccurs="0"/>
                          <xs:element name="geometry">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="box" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="size"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="sphere" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:float" name="radius"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="cylinder" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:float" name="radius"/>
                                      <xs:element type="xs:float" name="length"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="surface" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="friction">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="ode">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element type="xs:byte" name="mu"/>
                                            <xs:element type="xs:byte" name="mu2"/>
                                            <xs:element type="xs:float" name="slip1"/>
                                            <xs:element type="xs:float" name="slip2"/>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="name" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:choice>
                  <xs:attribute type="xs:string" name="name" use="optional"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="joint" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="pose"/>
                    <xs:element type="xs:string" name="child"/>
                    <xs:element type="xs:string" name="parent"/>
                    <xs:element name="axis">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="xyz"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="type" use="optional"/>
                  <xs:attribute type="xs:string" name="name" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="name"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:float" name="version"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
